{% extends 'base.html.twig' %}

{% block title %}New Pose{% endblock %}

{% block body %}
    <h1>Create new Pose</h1>

    {{ include('pose/_form.html.twig') }}

    <a href="{{ path('app_pose_index') }}">back to list</a>
{% endblock %}
